body
{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    margin:0px;
    background:#FFFFFF;
}

header
{
    height:50%;
    background:#FFFFFF;
    padding: 1%;
    border:1px solid #CCC;
    width:95%;
    margin:0px auto;
}

h1
{
    float:inherit;
    position: relative;
    color:rebeccapurple;
    font-size:5vw;
}

.navigation
{
    text-decoration: none;
    color:black;
    font-size:3vw;
}

.navigation:hover
{
    color:dimgrey;
}

nav
{
    padding-left: 1%;
    margin:1%;
}