/* Top-level body style */
body
{
    font-family: "Arial", Gadget, sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin:15px;
    padding: 15px;
    background-color: #1a1a1a;
}

/*======================================================= */
/* Start of header CSS */
/*======================================================= */
header
{
    text-align:center;
    border-radius: 1em;
    height:50%;
    background:#0d0d0d;
    border:5px solid #CCC;
    width:95%;
    margin:2% auto;
    padding-bottom: 15px;
}

/* The logo in the header */
#header_logo
{
    border-radius: 1em;
    vertical-align: middle;
    display:inline;
}

/* The title in the header */
#site_title
{
    padding-left:8%;
    padding-right:8%;
    font-size:6.5vw;
    vertical-align: middle;
    text-align:center;
    display:inline-block;
    color:#ffffff;
}

.navigation
{
    padding: 10px;
    text-decoration: none;
    color:#b3b3b3;
}

/* The nav bar in the header */
.navigation:hover
{
    color:#89de7a;
}

nav
{
    font-size:3vw;
    text-align:center;
    margin:1%;
    color:#ffffff;
}

/*======================================================= */
/* Start of main content CSS */
/*======================================================= */

#main
{
    margin:2% auto;
    width:95%;
}

/*======================================================= */
/* Start of footer CSS */
/*======================================================= */

footer
{
    text-align:center;
    border-radius: 1em;
    background:#0d0d0d;
    border:5px solid #CCC;
    width:95%;
    margin:2% auto;
    padding: 10px;
}